#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@

clean:
	rm -rf $(CURDIR)/build
	rm -rf $(CURDIR)/debian/asutralis
	rm -rf $(CURDIR)/debian/australis.debhelper.log
	rm -rf $(CURDIR)/debian/debhelper-build-stamp
	rm -rf $(CURDIR)/debian/files
	rm -rf $(CURDIR)/debian/australis.substvars

override_dh_auto_build:
	mkdir  $(CURDIR)/build
	/usr/local/go/bin/go build -o build/australis
	build/australis autocomplete --filename=build/australis.bash
